@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 32, 32, 32;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent: 104, 84, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 225, 225, 225;
    --background-start-rgb: 32, 32, 32;
    --background-end-rgb: 32, 32, 32;
    --accent: 84, 255, 137;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
